// Nextflow configuration for CPU S3 (no Fusion) compute environments
// Includes base configuration and S3-specific settings
// Falls back to on-demand queue on spot reclamation retries

includeConfig 'nextflow-base.config'

process {
    queue = { task.attempt > 1 ? '<S3_ONDEMAND_QUEUE_NAME>' : '<S3_SPOT_QUEUE_NAME>' }
}
